/* Проект "Пицца" */

$gradient-background-elem: linear-gradient(0.25turn, #FE9C1C, #FF5D29);

@mixin gradient-text-color {
    background: $gradient-background-elem;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

%menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: #fff;
        }

        &:hover, .active {
            cursor: pointer;
            font-weight: bolder;
            transition: 0.5s;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    background: linear-gradient(245.71deg, #1f0c00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%);
    // background: $gradient-background-elem;
    color: white;
    min-height: 100vh;
}

#header {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        @include gradient-text-color;

        font-weight: 700;
        font-size: 1.7em;
        text-decoration: none;
    }

    ul {
        @extend %menu;

        justify-content: space-evenly;
        width: 100%;

        color: $gradient-background-elem;

        li {
            a {
                color: white;
            }
    
            &:hover, .active {
                @include gradient-text-color;
                // box-shadow: 0 0 5px #FE9C1C,
                //             0 0 10px #FF5D29,
                //             0 0 15px #FE9C1C;
                transform: scale(1.5);
            }
        }
    }
}

#main {
    section {
        margin: 10px 0;

        h1 {
            padding-left: 4rem;
            font-size: 1.5em;
            margin-bottom: 20px;
        }
    
        ul {
            @extend %menu;

            overflow-x: scroll;

            li {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .pizzas, .drinks {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10% auto;
            // .left-arrow, .right-arrow {
            
            div {
                width: 50px;
                cursor: pointer;
                margin: 40px;
                // height: 100%;
                height: 4rem;
                
                ion-icon {
                    color: white;
                    height: 100%;
                }
            }
        }
    }
}

#footer {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
